---
layout: default
title: Home
---

      <!-- Jumbotron -->
      <div class="jumbotron hidden-xs hidden-sm">
        <h1>Digital<strong>IRC</strong> Network</h1>
        <p class="lead">IRC good as ever.</p>
        <a class="btn btn-large btn-success" href="{{site.webchat}}TheLobby">Get connected today</a>
      </div>

      <hr class="hidden-xs hidden-sm">

      <!-- Example row of columns -->
      <div class="row">
      {% for post in site.posts limit: 4  %}
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
          <span class="date"><span class="glyphicon glyphicon-time"></span> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
          <p>{{ post.excerpt }}</p>
          <p><a class="btn btn-default" href="{{site.baseurl}}{{post.url}}">View details &#187;</a></p>
        </div>
      {% endfor %}
      </div>
      <p class="text-center"><a class="btn btn-large btn-default" href="{{site.baseurl}}/posts/">More Posts</a></p>
