---
layout: default
title: Webchat
---
<section>
    <h3>Webchat iframe generator</h3>
    <p>Please use the bellow form to generate the appropriate code for an iframe to our webchat</p>
    <div class="panel panel-default">
        <div class="code_generator panel-body">
            <form style="width:80%;margin: 100px auto;">
                <label>Default channel: <input type="text" class="channel" placeholder="#Help" /></label>
                <label>Nickname: <input type="text" class="nick" value="Digital" /></label>
                <label>Theme: <br />
                    <select class="theme">
                        <option value="cli">CLI (Default)</option>
                        <option value="relaxed">Relaxed (Light))</option>
                        <option value="basic">Basic</option>
                        <option value="mini">Mini (Small)</option>
                    </select>
                </label>
                <button type="submit" class="btn btn-success btn-full btn-lighttext">Generate my code!</button>
                <div class="result">
                    <span class="resulttab" style="float:right;font-size:32px;margin-right:10px;cursor:pointer;" data-type="html"><i class="icon-html5"></i></span>
                    <div class="resulttype result-html active">
                        <h5>HTML code</h5>
                        <textarea style="width:100%;"class="generated_source"></textarea>
                        <p><strong>Note:</strong> Notice the '<i>height</i>' and '<i>width</i>' settings there. Feel free to change these to what suits your website the most.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
    function CodeGenerator($el) {
        var self = this;
        self.$el = $el;
        self.$el.find('form').submit(function(event) {
            event.preventDefault();
            var $this = $(this),
                $result = $this.find('.result');
            var html_code = self.generateHtmlCode({
                channel: $this.find('.channel').val(),
                nick: $this.find('.nick').val(),
                theme: $this.find('.theme').val()
            });
            $result.find('.result-html textarea').text(html_code);
            $result.slideDown(function () {
                $result.find('textarea').select();
            });
        });
        self.$el.find('.resulttab').click(function(event) {
            var type = $(this).data('type');
            console.log(type);
            self.$el.find('.resulttype').hide();
            self.$el.find('.result-' + type).show();
        });
        // Generate the embed HTML code for kiwi
        self.generateHtmlCode = function(opts) {
            opts = opts || {};
            opts.channel = opts.channel || 'your_channel';
            opts.nick = opts.nick || '';
            if (opts.nick === 'Digtal') {
                opts.nick = '';
            }
            // Make sure the nick isn't too long
            if (opts.nick.length > 10) {
                opts.nick = opts.nick.substring(0, 10);
            }
            // If a random number isn't found, put one in for sanities sake
            if (opts.nick && opts.nick.indexOf('?') === -1) {
                opts.nick += '|?';
            }
            // Make sure we have a # based channel name
            if (opts.channel.charAt(0) !== '#') {
                opts.channel = '#' + opts.channel;
            }
            if (!opts.theme || opts.theme == 'cli') {
                opts.theme = '';
            }
            var src = 'https://webchat.digitalirc.org/';
            var first_param = true;
            if (opts.nick) {
                if (first_param) { src += '?'; first_param = false; }
                src += 'nick=' + opts.nick;
            }
            if (opts.theme) {
                if (first_param) { src += '?'; first_param = false; }
                src += '&theme=' + opts.theme;
            }
            src += opts.channel;
            var html = '<iframe src="' + src + '" ';
            html += 'style="border:0; width:100%; height:450px;"></iframe>';
            return html;
        };
        self.$el.find('.result').hide();
    }
    $(function () {
        var generator = new CodeGenerator($('.code_generator'));
    });
    </script>
</section>

