body {
	background-color: #d3d3d3;
}

@font-face {
    font-family: 'Franks';
    src: url(../_fonts/Franks-Regular.ttf);
}

.header {
	margin: auto;
	height: 250px;
	width: 1032px;
	background-image: url(../_images/header.png);
	background-repeat: no-repeat;
}

.error_api {
	margin: auto;
	height: 187px;
	width: 1032px;
	background-repeat: no-repeat;
	background-image: url(../_images/warning_page.png);
}

.error_api p {
	padding-top: 70px;
	text-align: center;
	font-family: 'Franks';
	font-size: 250%;
	font-weight: bold;
}

.servers_bg {
	margin: auto;
	height: 187px;
	width: 1032px;
	background-image: url(../_images/serverbg.png);
	background-repeat: no-repeat;
}

.servers_bg p {
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	font-family: 'Franks';
	font-size: 115%;
}

.footer {
	margin: auto;
	height: 46px;
	width: 1032px;
	background-image: url(../_images/footer.png);
	background-repeat: no-repeat;
}

.footer p {
	padding-top: 13px;
	padding-left: 55px;
	font-family: 'Franks';
	font-size: 105%;
}

.new_graphics {
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 568px;
	height: 100px;
	margin: 0 406px;
	border-spacing: 8px;
	border-collapse: separate;
}

.new_graphics li {
	position: relative;
	display: table-cell;
	vertical-align: bottom;
	height: 100px;
	padding-top: 37px;
}

.new_graphics span {
	margin: 0 1em;
	display: block;
	background-image: url(../_images/bar.png);
	-webkit-animation: draw 2s ease-in-out;
	animation: draw 2s ease-in-out;
}

.new_graphics span:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: 5px 1em 0;
	display: block;
	text-align: center;
	content: attr(title);
	word-wrap: break-word;
	font-family: 'Franks';
}

@-webkit-keyframes draw {
	0% {
		height: 0;
	}
}

@keyframes draw {
	0% {
		height: 0;
	}
}