---
layout: page
title: DigitalIRC Code
---

          <div class="row">
            <div class="col-md-3 col-xs-6">
              <h2>DigitalIRC Motd</h2>
              <p>Various files used to generate IRCd MOTD's for the DigitalIRC network</p>
              <p><a class="btn btn-default" href="{{site.baseurl}}/code/motd/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-md-3 col-xs-6">
              <h2>DigitalIRC Webchat</h2>
              <p>Customised version of Rizon's QChat which is based off of qwebIRC webchat on quakenet</p>
              <p><a class="btn btn-default" href="{{site.baseurl}}/code/webchat/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-md-3 col-xs-6">
              <h2>Web Services</h2>
              <p>Forked version of EGs web interface for atheme services by jnewing</p>
              <p><a class="btn btn-default" href="{{site.baseurl}}/code/web-services/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-md-3 col-xs-6">
              <h2>Random</h2>
              <p>Repository for files which do various things. From installing IRCd's to generating motd files</p>
              <p><a class="btn btn-default" href="{{site.baseurl}}/code/random/">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
