      <div class="footer">
            <p><span class="pull-left">
            <a href="http://twitter.com/DigitalIRC"><img src="{{site.socialiconpath}}twitter.png"></a>
            <a href="http://github.com/DigitalIRC"><img src="{{site.socialiconpath}}github.png" 
            width="24" height="24"></a><!--needs to be resized-->
            <a href='http://ipv6-test.com'><img src='http://v4v6.ipv6-test.com/imgtest.png' alt='ipv6 test' title='ipv6 test' border='0' height="24" /></a>
            </span><script src="{{site.staticurl}}/javascript/coin.js"></script>
            <script>CoinWidgetCom.go({wallet_address: "1CYsXYo2eycaWdLF8LBZ6kqiH7SfbQHk7U", currency: "bitcoin", counter: "count", alignment: "bl", qrcode: true, auto_show: false, lbl_button: "Donate", lbl_address: "My Bitcoin Address:", lbl_count: "donations", lbl_amount: "BTC"});</script>
           <span class="pull-right">&#169; DigitalIRC {{ site.time | date: '%Y' }}<br /><a href="{{site.baseurl}}/status/">System Status</a></span></p>
      </div>
