---
layout: default
title: Blog
---
<section>
<!-- Show all posts here -->
{% for post in paginator.posts %}
	<article>
        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><span class="glyphicon glyphicon-time"></span> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="author"><span class="glyphicon glyphicon-user"></span> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>
		<div class="entry">
            {{ post.excerpt }}
        </div>
        <p class="muted"><a class="btn btn-default" href="{{site.baseurl}}{{post.url}}">View Post &#187;</a></p>
	</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
  {% if paginator.previous_page %}
    <a href="{{site.url}}{{ paginator.previous_page_path | replace: '//', '/' }}" role="button" class="btn btn-default btn-lg">&laquo; Prev</a>
  {% else %}
    <button type="button" class="btn btn-default btn-lg active">&laquo; Prev</button>
  {% endif %}
  </div>
  <div class="btn-group">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <button type="button" class="btn btn-default btn-lg active">{{ page }}</button>
    {% elsif page == 1 %}
      <a href="{{site.url}}{{ 'posts' | replace: '//', '/' }}" role="button" class="btn btn-default btn-lg">{{ page }}</a>
    {% else %}
      <a href="{{site.url}}{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}" role="button" class="btn btn-default btn-lg">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </div>
  <div class="btn-group"></div>
  {% if paginator.next_page %}
    <a href="{{site.url}}{{ paginator.next_page_path | replace: '//', '/' }}" role="button" class="btn btn-default btn-lg">Next &raquo;</a>
  {% else %}
    <button type="button" class="btn btn-default btn-lg disabled">Next &raquo;</button>
  {% endif %}
  </div>
</div>
{% endif %}
</section>
