---
layout: default
---

<div class="post">
<div class="page-header">
  <h1>Wiki - {{page.title}}</h1>
    {% if page.url != '/wiki/' %}
        <p class="text-muted"><small>Return to <a href="{{site.baseurl}}/wiki/">Wiki index</a></small></p>
    {% endif %}
</div>
    <div class="entry">{{ content }}</div>
</div>
